@CHARSET "UTF-8";

#welcomeFinish{
	position : relative;
	width: 600px;
	margin: auto;
	top: 100px;
	

}
#title-a{
	margin-left: 15px;	
}
#title-b{
	padding: 0px;
	margin:10px;
	
}
.circle-wrapper {

	margin-top:50px;
	margin-left:300px;
	margin-right:300px;
	left:100px;
	border: solid 1px white;
	margin-bottom:10%;
}

.circle1 {

	width: 30px;
	height: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border: 1.5px;
	border-color:#989898;
	border-style:solid;
	border-radius: 50px;
	text-align:center;
	color: #989898;
	line-height: 30px;
}
.circle2 {
	margin-top:-30px;
	margin-left:183px;
	top:10px;
	width: 30px;
	height: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border: 1.5px;
	border-color:#989898;
	border-style:solid;
	border-radius: 50px;
	text-align:center;
	color:#989898;
	line-height: 30px;
}
.circle3 {
	margin-top:-33px;
	margin-left:365px;
	top:10px;
	width: 30px;
	height: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border: 1.5px;
	border-color:#00a699;
	border-style:solid;
	border-radius: 50px;
	text-align:center;
	color:#00a699;
	line-height: 30px;
}
.line1 {
	margin-top:-17px;
	margin-left:30px;
	width:153px;
	background:lightgray;
	border: 0.5px solid #989898;

	line-height: 100px;
}

.line2 {
	margin-top:-0.5px;
	margin-left:212px;
	width:153px;
	background:lightgray;
	border: 0.5px solid #00a699;

	line-height: 100px;
}
#welcome{
	border: 1px solid #989898;
	border-radius:4px;
	position:relative;
	text-align: center;
}

#commemoration{
	display: inline;
	width:150px;
}

#welcome ul, il{
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom:5%;
}

#success{
	font-size: 20px;
	color :#333;
	
}

